# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/data

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
note_modules
06-data-mini1.txt
06-data-mini2.txt
06-data-mini3.txt
06-data-part2-mini1.txt
06-data-part2-mini2.txt
06-data-part2-mini3.txt
02-data-mini.txt
03-data-mini.txt
04-data-mini.txt
05-data-mini.txt
07-data-mini.txt
09-data-mini.txt
09-data-mini2.txt
08-data-mini.txt
10-data-mini.txt
10-data-mini2.txt
11-data-mini.txt
12-data-mini.txt
